<div *ngIf="!isLedOn">
  <p style="color:darkgray; padding-left: 7.5em; font-size: large;">OFF</p>
  <img class="img_content" src="../../../../assets/img/Appliances/led_touch_off.png" >
</div>
<div *ngIf="isLedOn">
  <p class = "bluebag" style="color:ghostwhite; padding-left: 7.5em; font-size: large;">ON</p>
  <img class="img_content bluebag" src="../../../../assets/img/Appliances/led_touch_on.png" >
</div>
