.img_content {
  max-height: 300px ! important;
  max-width: 300px !important;
  height: 300px;
  width: 300px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.bluebag {
  opacity: 0;
  animation: opacityOn 5s infinite forwards;
  animation-delay: 1s;
}

@keyframes opacityOn {
  0% {
      opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
