<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage <b>Clients</b></h2>
              </div>
              <div class="col-sm-6">
                <a (click)="addClient()" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Client</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                </th>
                <th *ngFor="let column of clientTableHeaders">{{column}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clientProfile of clientProfiles">
                <td>
                </td>
                <td>{{clientProfile.fullName}}</td>
                <td>{{clientProfile.email}}</td>
                <td>{{clientProfile.accessCode}}</td>
                <td>{{clientProfile.userName}}</td>
                <td>
                  <a (click)="updateClient(clientProfile)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                  <a (click)="deleteClient(clientProfile)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Houses -->
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage <b>Houses</b></h2>
              </div>
              <div class="col-sm-6">
                <a (click)="addAccessCode()" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add House</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                </th>
                <th *ngFor="let column of housesHeaders">{{column}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let house of houses">
                <td>
                </td>
                <td>{{house.address}}</td>
                <td>{{house.accessCode}}</td>
                <td>{{house.surface}}</td>
                <td>{{house.roomsNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>
