<div class="control-section">
  <div style="color: aliceblue; font-size: xx-large; padding-left: 3.6em;">
    {{temperatureValue | number:'1.1-1'}}
  </div>
  <br/>
  <div id="chartdiv" style="width: 100%; height: 300px;"></div>
</div>
<style>
  .control-section {
      min-height: 450px;
  }
</style>
