<div class=" dark-modal modal-header modal-color" >
  <h4 class="modal-title">Add New House Address</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-color">
  <form [formGroup]="adminService.addHouseModel" autocomplete="off">
    <div class="form-group required">
      <label>Address</label>
      <input type="text" class="form-control" formControlName="Address">
      <label class="text-danger" *ngIf="adminService.addHouseModel.get('Address').touched && adminService.addHouseModel.get('Address').errors?.required">Address is required</label>
    </div>
    <div class="form-group required">
      <label>Access Code</label>
      <input class="form-control" formControlName="AccessCode">
      <label class="text-danger" *ngIf="adminService.addHouseModel.get('AccessCode').touched && adminService.addHouseModel.get('AccessCode').errors?.required">Access Code is required</label>
      <label class="text-danger" *ngIf="adminService.addHouseModel.get('AccessCode').touched && adminService.addHouseModel.get('AccessCode').errors?.minlength">Access Code must have at least 10 characters</label>
    </div>
    <div class="form-group required">
      <label>Surface</label>
      <input type="number" class="form-control" formControlName="Surface">
      <label class="text-danger" *ngIf="adminService.addHouseModel.get('Surface').touched && adminService.addHouseModel.get('Surface').errors?.required">Surface is required</label>
    </div>
    <div class="form-group required">
      <label>Rooms Number</label>
      <input type="number" class="form-control" formControlName="RoomsNumber">
      <label class="text-danger" *ngIf="adminService.addHouseModel.get('RoomsNumber').touched && adminService.addHouseModel.get('RoomsNumber').errors?.required">Rooms Number are required</label>
    </div>
  </form>
</div>
<div class="modal-footer modal-color">
  <!-- <button type="submit" class="btn btn-success" [disabled]="!adminService.addClientModel.valid" (click)="onSubmit()">Add</button> -->
	<input type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!adminService.addHouseModel.valid">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
