<div class=" dark-modal modal-header modal-color" >
  <h4 class="modal-title">Add Employee</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-color">
  <form [formGroup]="adminService.addClientModel" autocomplete="off">
    <div class="form-group required">
      <label>Username</label>
      <input class="form-control" formControlName="UserName">
      <label class="text-danger" *ngIf="adminService.addClientModel.get('UserName').touched && adminService.addClientModel.get('UserName').errors?.required">Username is required</label>
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input class="form-control" formControlName="FullName">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger" *ngIf="adminService.addClientModel.get('Email').touched && adminService.addClientModel.get('Email').errors?.email">Invalid Email address</label>
    </div>
    <div class="form-group required">
      <label>Access Code</label>
      <input class="form-control" formControlName="AccessCode">
      <label class="text-danger" *ngIf="adminService.addClientModel.get('AccessCode').touched && adminService.addClientModel.get('AccessCode').errors?.required">Access Code is required</label>
      <label class="text-danger" *ngIf="adminService.addClientModel.get('AccessCode').touched && adminService.addClientModel.get('AccessCode').errors?.minlength">Access Code must have at least 10 characters</label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger" *ngIf="adminService.addClientModel.get('Password').touched && adminService.addClientModel.get('Password').errors?.required">Password is required</label>
      <label class="text-danger" *ngIf="adminService.addClientModel.get('Password').touched && adminService.addClientModel.get('Password').errors?.minlength">Password must have at least 6 characters</label>
    </div>
  </form>
</div>
<div class="modal-footer modal-color">
  <!-- <button type="submit" class="btn btn-success" [disabled]="!adminService.addClientModel.valid" (click)="onSubmit()">Add</button> -->
	<input type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!adminService.addClientModel.valid">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
