<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="../../assets/img/HatchfulExport-All (4)/logo_transparent.png" height="90em" width="100emem">
  </a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="['active']" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['appliances']" [routerLinkActive]="['active']" >Appliances</a>
        </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/app-menu/adminpanel']">Admin Panel</a>
          </li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>
