<div style="color: aliceblue;">
Last updated at: {{now}}
</div>


<div class="square-container">

  <div class="square with-linear-gradient">
    <div class="module">ALARMA INCENDIU BUCATARIE</div>
    <div class="content column">
      <fire-alarm [fireAlarm]="isFireAlarmOn"></fire-alarm>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">DETECTOR MISCARE LIVING</div>
    <div class="content column">
      <movement-detection [isMovementDetected]="isMovementDetected"></movement-detection>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">TEMPERATURA LIVING</div>
    <div class="content column">
      <temperature-sensor [temperatureValue]="temperatureValue"></temperature-sensor>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">LED DETECTIE INTENSITATE LUMINA MEDIU EXTERIOR</div>
    <div class="content column">
      <dual-led-light-sensitive [is_off_dual_led_photoresistor]="dualLedData?.is_off_dual_led_photoresistor"
                                [is_auto_dual_led_photoresistor]="dualLedData?.is_auto_dual_led_photoresistor"
                                [value_red_intensity_dual]="dualLedData?.value_red_intensity_dual"
                                [value_green_intensity_dual]="dualLedData?.value_green_intensity_dual"
                                [value_intensity_auto]="dualLedData?.value_intensity_auto">
      </dual-led-light-sensitive>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">LED RGB LIVING</div>
    <div class="content column">
      <smd-rgb-led [blue_intensity]="smdLedData?.blue_intensity"
                  [red_intensity]="smdLedData?.red_intensity"
                  [green_intensity]="smdLedData?.green_intensity"
                  [is_auto_smd_light]="smdLedData?.is_auto_smd_light"
                  [switch_state_smd]="smdLedData?.switch_state_smd">
      </smd-rgb-led>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">SENZOR DRAPERIE LIVING</div>
    <div class="content column">
      <curtains-led [isCurtainPulled]="valueLedLightBlocking"></curtains-led>
    </div>
  </div>

  <div class="square with-linear-gradient">
    <div class="module">TOUCH CONTROL LED BUCATARIE</div>
    <div class="content column">
      <touch-led [isLedOn]="ledStateTouch"></touch-led>
    </div>
  </div>

</div>

