.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  border: 1px solid;
  box-sizing: border-box;
  background: #222 !important;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.module {
  /* background: #222; */
  color: #4682B4;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.module-border-wrap {
  background: linear-gradient(to right, rgb(100, 156, 230), rgba(15, 21, 104, 0.685));
  padding: 3px;
}

.box {
  width: 400px;
  height: 200px;
  max-width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.with-linear-gradient {
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(to right, rgb(100, 156, 230), rgb(15, 29, 218)) 1;
}

