<ui-switch disabled uncheckedLabel="Off" checkedLabel="On" size="large" [(ngModel)]="power"></ui-switch>
<br/><br/><br/>
<ui-switch  *ngIf="power" uncheckedLabel="Man" checkedLabel="Auto" size="large" [(ngModel)]="enable"
          (valueChange)="onEnableChange($event)" ></ui-switch>
<br/><br/><br/>
<button *ngIf="power && !enable" class="btn btn-primary" (click)="seteazaCulori()">Seteaza culori</button>
<ngx-slider *ngIf="power && !enable" [(value)]="ledIntensityRed" [options]="optionsRed" (userChangeEnd)="redHasChanged($event)"></ngx-slider>
<ngx-slider *ngIf="power && !enable" [(value)]="ledIntensityGreen" [options]="optionsGreen" (userChangeEnd)="greenHasChanged($event)"></ngx-slider>
<ngx-slider *ngIf="power && !enable" [(value)]="ledIntensityBlue" [options]="optionsBlue" (userChangeEnd)="blueHasChanged($event)"></ngx-slider>

<!-- <div  class="container">
  <div><img  class="image-size" src="../../../../assets/img/Appliances/red_led_2.png"></div>
  <div><img  class="image-size" src="../../../../assets/img/Appliances/green_led_2.png"></div>
  <div><img  class="image-size" src="../../../../assets/img/Appliances/blue_led_4.png"></div>
</div> -->

<!--https://www.npmjs.com/package/ngx-bootstrap-switch-->
<!--https://www.npmjs.com/package/ngx-ui-switch-->
