<div *ngIf="isCurtainPulled">
  <p style="color:chocolate; padding-left: 3.5em; font-size: large;">Draperia este inchisa</p>
  <img class="img_content" src="../../../../assets/img/Appliances/window (1).png">
</div>
<div *ngIf="!isCurtainPulled">
  <p style="color:goldenrod; padding-left: 3.5em; font-size: large;">Draperia este deschisa</p>
  <img class="img_content" src="../../../../assets/img/Appliances/curtains (1).png">
</div>
