<div class=" dark-modal modal-header modal-color" >
  <h4 class="modal-title">Update Client</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-color">
  <form [formGroup]="adminService.updateClientModel" autocomplete="off">
    <div class="form-group required">
      <label>Username</label>
      <input class="form-control" placeholder="{{UserName}}" formControlName="UserName">
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('UserName').touched && adminService.updateClientModel.get('UserName').errors?.required">Username is required</label>
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input class="form-control" placeholder="{{FullName}}" formControlName="FullName">
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('FullName').touched && adminService.updateClientModel.get('FullName').errors?.required">FullName is required</label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" placeholder="{{Email}}" formControlName="Email">
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('Email').touched && adminService.updateClientModel.get('Email').errors?.required">Email is required</label>
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('Email').touched && adminService.updateClientModel.get('Email').errors?.email">Invalid Email address</label>
    </div>
    <div class="form-group required">
      <label>Access Code</label>
      <input class="form-control" placeholder="{{AccessCode}}" formControlName="AccessCode">
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('AccessCode').touched && adminService.updateClientModel.get('AccessCode').errors?.required">Access Code is required</label>
      <label class="text-danger" *ngIf="adminService.updateClientModel.get('AccessCode').touched && adminService.updateClientModel.get('AccessCode').errors?.minlength">Access Code must have at least 10 characters</label>
    </div>
  </form>
</div>
<div class="modal-footer modal-color">
  <!-- <button type="submit" class="btn btn-success" [disabled]="!adminService.addClientModel.valid" (click)="onSubmit()">Add</button> -->
	<input type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!adminService.updateClientModel.valid">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
