<div>
  <div *ngIf="userDetails && !isAdmin" class="card m-5" style="width: 18rem;">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Username: </strong>{{userDetails.userName}}
      </li>
      <li class="list-group-item">
        <strong>FullName: </strong>{{userDetails.fullName}}
      </li>
      <li class="list-group-item">
        <strong>Email: </strong>{{userDetails.email}}
      </li>
      <li class="list-group-item">
        <strong>Access Code: </strong>{{userDetails.accessCode}}
      </li>
    </ul>
  </div>


  <div *ngIf="userDetails && !isAdmin" class="card m-5" style="width: 18rem;">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>House Address: </strong>{{userDetails.houseDetails.address}}
      </li>
      <li class="list-group-item">
        <strong>Rooms Number: </strong>{{userDetails.houseDetails.roomsNumber}}
      </li>
      <li class="list-group-item">
        <strong>Surface: </strong>{{userDetails.houseDetails.surface}}
      </li>
    </ul>
  </div>
  <div *ngIf="userDetails && !isAdmin" class="card m-5" style="width: 18rem;">
    <ul class="list-group">
      <li *ngFor="let item of userDetails.houseDetails.inhabitantDTOs" class="list-group-item">
        <strong>Inhabitant: </strong>{{item.inhabitant_Name}}
      </li>
    </ul>
  </div>

  <div  *ngIf="userDetails && !isAdmin" class="card m-5 update" style="width: 18rem;">
    <form [formGroup]="service.updateModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.updateModel.get('UserName').touched && service.updateModel.get('UserName').errors?.required">Username is required</label>
      </div>
      <div class="form-group required">
        <label>FullName</label>
        <input class="form-control" formControlName="FullName">
        <label class="text-danger" *ngIf="service.updateModel.get('FullName').touched && service.updateModel.get('FullName').errors?.required">FullName is required</label>
      </div>
      <div class="form-group required">
        <label >Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger" *ngIf="service.updateModel.get('Password').touched && service.updateModel.get('Password').errors?.required">Password is required</label>
        <label class="text-danger" *ngIf="service.updateModel.get('Password').touched && service.updateModel.get('Password').errors?.minlength">Password must have at least 6 characters</label>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.updateModel.valid">Update</button>
        </div>
    </div>
    </form>
  </div>
</div>

<div class="adminImage" *ngIf="userDetails && isAdmin">
  <img style=" border: 2px solid black; display: block; margin: 0 auto;" src="../../assets/img/macheta1.jpg" width="900" height="600">
  <!-- <img style="padding-left:100px; padding-top: 30px;" src="../../assets/img/macheta2.jpg" width="900" height="600"> -->
</div>

