.img_content {
  max-height: 300px ! important;
  max-width: 300px !important;
  height: 150px;
  width: 300x;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
