<ui-switch uncheckedLabel="Off" checkedLabel="On" size="large" [(ngModel)]="power"
(valueChange)="onPowerChange($event)" ></ui-switch>
<br/><br/>
<ui-switch *ngIf="power" uncheckedLabel="Man" checkedLabel="Auto" size="large" [(ngModel)]="enable"
(valueChange)="onEnableChange($event)" ></ui-switch>
<br/> -->
<img #dual_led_img class="img_content" src="../../../../assets/img/Appliances/dual-led.jpg" >
<br/>
<div *ngIf="power && enable" style="color: aliceblue;">
  <p>Red intensity =  {{(value_intensity_auto * 100) / 255 | number:'1.0-0'}}</p>
  <p>Green intensity =  {{(value_intensity_auto * 100) / 255 | number:'1.0-0'}}</p>
</div>

<ngx-slider *ngIf="power && !enable"
            [(value)]="valueRed"
            [options]="optionsRed"
            (userChangeEnd)="handleRedSlider($event)">
</ngx-slider>
<ngx-slider *ngIf="power && !enable"
            [(value)]="valueGreen"
            [options]="optionsGreen"
            (userChangeEnd)="handleGreenSlider($event)">
</ngx-slider>
