<form [formGroup]="userService.registrationModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="userService.registrationModel.get('UserName').touched && userService.registrationModel.get('UserName').errors?.required">Username is required</label>
  </div>
  <div class="form-group">
        <label>Full Name</label>
        <input class="form-control" formControlName="FullName">
  </div>
  <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="userService.registrationModel.get('Email').touched && userService.registrationModel.get('Email').errors?.email">Invalid Email address</label>
  </div>
  <div class="form-group required">
        <label>Access Code</label>
        <input class="form-control" formControlName="AccessCode">
        <label class="text-danger" *ngIf="userService.registrationModel.get('AccessCode').touched && userService.registrationModel.get('AccessCode').errors?.required">Access Code is required</label>
        <label class="text-danger" *ngIf="userService.registrationModel.get('AccessCode').touched && userService.registrationModel.get('AccessCode').errors?.minlength">Access Code must have at least 10 characters</label>
  </div>
  <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.Password').touched && userService.registrationModel.get('Passwords.Password').errors?.required">Password is required</label>
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.Password').touched && userService.registrationModel.get('Passwords.Password').errors?.minlength">Password must have at least 6 characters</label>
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.Password').touched && userService.registrationModel.get('Passwords.Password').errors?.uppercase">Password must have at least one uppercase character</label>
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.Password').touched && userService.registrationModel.get('Passwords.Password').errors?.lowercase">Password must have at least one lowercase character</label>
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.Password').touched && userService.registrationModel.get('Passwords.Password').errors?.nonalpha">Password must have at least one non-alphanumerical character</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.ConfirmPassword').touched && userService.registrationModel.get('Passwords.ConfirmPassword').errors?.required">Confirm Password is required</label>
          <label class="text-danger" *ngIf="userService.registrationModel.get('Passwords.ConfirmPassword').touched && userService.registrationModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
  </div>
  <!-- <div class="form-check-inline">
    <input class="form-check-input" formControlName="Role" type="radio" value="Customer" checked>
    <label class="form-check-label" style="color: aliceblue;">
      Customer
    </label>
    <label class="text-danger" *ngIf="userService.registrationModel.get('Role').touched && userService.registrationModel.get('Role').errors?.required">Role is required</label>
  </div> -->
  <!-- <div class="form-check-inline">
    <input class="form-check-input" formControlName="Role" type="radio" value="Admin">
    <label class="form-check-label" style="color: aliceblue;">
      Admin
    </label>
    <label class="text-danger" *ngIf="userService.registrationModel.get('Role').touched && userService.registrationModel.get('Role').errors?.required">Role is required</label>
  </div> -->
  <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!userService.registrationModel.valid">Sign Up</button>
        </div>
  </div>
</form>
