<img src="/assets/img/single_user4.png" class="mx-auto d-block login-logo">
<form [formGroup]="userService.authenticationModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger" *ngIf="userService.authenticationModel.get('UserName').touched && userService.authenticationModel.get('UserName').errors?.required">Username is required</label>
  </div>
  <div class="form-group required">
    <label >Password</label>
    <input type="password" class="form-control" formControlName="Password">
    <label class="text-danger" *ngIf="userService.authenticationModel.get('Password').touched && userService.authenticationModel.get('Password').errors?.required">Password is required</label>
    <label class="text-danger" *ngIf="userService.authenticationModel.get('Password').touched && userService.authenticationModel.get('Password').errors?.minlength">Password must have at least 6 characters</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!userService.authenticationModel.valid">Sign In</button>
    </div>
</div>
</form>
